
body {
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-size: 16px;
}

/*HEADER*/

.header {
  background-color: #ff0000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  transition: background-color 0.5s;
}

.header.fix-header {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.menu-bar a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  padding-right: 2rem;
  transition: color 0.5s;
}

select {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select option {
    background-color: #ff0000;
    border: 0;
}

select::-ms-expand {
    display: none;
}

.menu-bar .mobile-menu {
  display: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.menu-bar .mobile-menu::after {
  content: " ";
  width: 25px;
  height: 20px;
  background-color: transparent;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  display: inline-block;
  vertical-align: middle;
  margin-left: 1rem;
}

.mobile-header {
  display: none;
}

.close-menu {
  margin-bottom: 2rem;
  cursor: pointer;
}

.close-menu::after {
  content: '\2716';
  margin-left: 1rem;
  font-weight: bold;
  display: inline-block;
}

.fix-header .menu-bar a, .fix-header select {
  color: #1d2021;
}

.fix-header select option {
  background-color: #fff;
}

.logo {
  height: 6.25rem;
  width: 18.75rem;
  background-color: white;
  float: left;
  transition: height 0.5s;
  background-image: url('images/logo.svg');
  background-repeat: no-repeat;
  background-position: 50%;
}

.fix-header .logo {
  height: 5rem;
}

/*WELCOME*/

.section.welcome {
  background-color: #ff0000;
  min-height: 48rem;
  position: relative;
}
.welcome-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
.tedx {
  font-size: 100px;
  color: #fff;
  text-align: center;
  padding: 0 2rem;
  word-wrap: break-word;
  word-break: break-all;
}
.menu-bar {
  max-width: 80rem;
  margin: auto;
  text-align: right;
  line-height: 5rem;
  padding: 0 2rem;
}

/*EVENTS*/

.event-item {
  min-height: 43.75rem;
}

.event-title {
  font-size: 1.875rem;
  margin-bottom: 2.5rem;
}

.event-subtitle, .event-date {
  font-weight: bold;
  font-size: 1rem;
}

.event-date {
  margin-bottom: 1.25rem;
}

.event-info {
  font-size: 0.875rem;
  line-height: 1.43;
}

.event-item:first-child {
  background-color: #1d2021;
  color: #fff;
}

.event-item:last-child {
  background-color: #3fb300;
  color: #fff;
}

/*ABOUT US*/
/*CONTACT*/

.three-items {
  background: #fff;
  text-align: center;
  padding: 4.5rem 0;
}

.three-items-title {
  font-size: 1.875rem;
  margin-bottom: 3.75rem;
}

.three-items-content {
  width: 270px;
}

.three-items .details {
  max-width: 80rem;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  text-align: left;
}

.three-items .details .item {
  flex: 1;
}

.three-items .details .item:first-child {
  margin-right: 0.635rem;
  padding-left: 1.25rem;
}

.three-items .details .item:last-child {
  margin-left: 0.635rem;
  padding-right: 1.25rem;
}

.three-items .details .item:nth-child(2) {
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  text-align: center;
}

.three-items .item-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.three-items .item-text {
  font-size: 0.875rem;
  line-height: 1.43;
  color: #505050;
}

.question {
  font-size: 1.875rem;
  text-align: center;
  color: #1d2021;
  margin: 3rem 0;
}

.answer {
  text-align: center;
}

.answer div {
  height: 48px;
  width: 180px;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #ff0000;
  color: #ff0000;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 48px;
}

.answer .active {
  background-color: #ff0000;
  color: #fff;
}

/* POSTS */


.post-photo, .post-info {
  min-height: 43.75rem;
  color: #ffffff;
}

.post-info {
  background-color: #1d2021;
}

.post-info:hover {
  background-color: #ff0000;
}

.post-photo {
  background-image: url('images/unicorn.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: blue;
  background-position: 50% 50%;
}

/*PARTNERS*/

.partners {
  background-color: #ff0000;
}

#partner-modal span {
  text-decoration: underline;
  cursor: pointer;
}

.partners .question {
  text-align: left;
  color: #fff;
  letter-spacing: 1.3;
  margin-bottom: 2.5rem;
}

.email-label {
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 0.5rem;
}

.email-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  text-indent: 1rem;
  color: #fff;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 2rem;
}

.button-container {
  text-align: right;
}

.email-form button {
  width: 9.876rem;
  line-height: 3rem;
  border: solid 2px #ffffff;
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.7px;
  cursor: pointer;
  text-transform: uppercase;
}

.email-form button:hover {
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.partner-modal {
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
}

.partner-modal.show-modal {
  position: fixed;
  height: 100vh;
  width: 100%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  top: 0;
}

.backdrop {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: #1d2021;
  position: absolute;
}

.modal {
  margin: auto;
  width: 640px;
  height: 800px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  opacity: 1;
  z-index: 3;
}

/* FOOTER */
.footer {
  background-color: #1d2021;
}

.footer-links {
  text-align: center;
  margin-bottom: 90px;
  padding-top: 3rem;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

.footer-links a {
  color: #fff;
  margin: 0;
  padding: 0 2rem;
  font-size: 1rem;
  text-decoration: none;
}

.copyrights {
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.copyrights:last-child {
  padding-bottom: 3rem;
}

.footer .button-up {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #fff;
  position: absolute;
  right: 100px;
  padding: 0;
  transform: translateY(-50%);
}

.footer .button-up::after {
  content: ' ';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* COMMON */

.container {
  max-width: 80rem;
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
}

.flex-grid .col-2 {
  flex: 1;
}

.left-align {
  margin-right: auto;
}

.right-align {
  margin-left: auto;
}

.center-align {
  margin: 0 auto;
}

.item-content.right-align {
  padding-right: 6.25rem;
}

.item-content.left-align {
  padding-right: 6.25rem;
  padding-left: 6.25rem;
}

.item-content {
  max-width: 40rem;
  padding: 3.75rem 1.25rem;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.x-mark::after {
  content: '\2716';
  color: red;
  font-size: 15rem;
  line-height: 0.8;
  display: inline-block;
}


@media (max-width: 900px) {
  .header {
    position: absolute;
    top: 0;
  }

  .header.fix-header {
    position: absolute;
    background-color: #ff0000;
    box-shadow: none;
  }

  .menu-bar a, .menu-bar select {
    display: none;
  }

  .menu-bar .mobile-menu {
    display: inline-block;
  }

  .flex-grid .col-2 {
    flex: 1 100%;
  }

  .right-align, .left-align, .center-align {
    margin: 0 auto !important;
    padding : 3rem !important;
  }

  .three-items .details .item {
    flex:  1 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .three-items-content, .item-content {
    width: auto;
    max-width: none;
  }

  .reverse-column {
    flex-direction: column-reverse;
  }

  .footer .button-up {
    right: 2rem;
  }

  .mobile-header {
    display: block;
    box-sizing: border-box;
    position: fixed;
    right: -300px;
    height: 100vh;
    width: 300px;
    padding-right: 150px;
    padding-top: 30px;
    transition: right 0.5s;
    background-color: #fff;
    z-index: 1;
    text-align: right;
  }

  .mobile-header.show-header {
    right: -350px;
  }

  .mobile-header a, .close-menu, .mobile-header select{
    font-size: 24px;
    line-height: 2;
    text-align: right;
    color: #1d2021;
    display: block;
    text-decoration: none;
  }

  .mobile-header select {
    float: right;
  }

  .mobile-header select option {
    background-color: #fff;
  }

  .mobile-header.show-header {
    right: 0;
  }

  .event-title, .three-items-title {
    font-size: 3.75rem;
    word-wrap: break-word;
    word-break: break-all;
  }

  .event-subtitle, .event-date {
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-all;
  }

  .event-date {
    margin-bottom: 2.5rem;
  }


  .three-items .item-title {
    font-size: 3rem;
    word-wrap: break-word;
    word-break: break-all;
  }

  .event-info, .three-items .item-text {
    font-size: 1.75rem;
    line-height: 1.43;
    word-wrap: break-word;
  }

  #contact .item-text {
    word-break: break-all;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 5rem;
    width: 12rem;
  }

  .mobile-header {
    right: -200px;
    width: 200px;
    padding-right: 50px;
    padding-top: 20px;
  }
}

@media (max-width: 349px) {
  .item-text {
    word-break: break-all;
  }
}
